<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- The application ID from your app registration -->
    <add key="appId" value="0a8c0a77-27e0-4f32-8011-5b9e5d7e0492" />
    <!-- The tenant ID copied from your app registration -->
    <add key="tenantId" value="6f588c01-2000-4a32-8bd7-7141c5b9d896"/>
    <!-- The application's client secret from your app registration. Needed for application permission access -->
    <add key="clientSecret" value="WO08Q~osOdRhF7b88AKF~3vC49gt.BTKdvrkebNy"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>